<div class="float-right" style="padding-right: 30px; padding-top: 20px;">
  <a [routerLink]="['/upload', albumId]" routerLinkActive="router-link-active" class="btn btn-outline-success">
    Upload Photo
  </a>
</div><br>
<h2>Photos in "{{currentAlbum.title}}" album</h2>
<div class="row">
  <img [src]="currentAlbum.coverPhotoUrl" width="100%" height="300px">
  <div class="col-sm-3 pt-3" *ngFor="let photo of photos">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="photo.thumbnailUrl" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">{{photo.createdBy}}</h5>
              <a [routerLink]="['/photo', photo.id]" class="btn btn-primary">Go to Photo</a>
          </div>
      </div>
  </div>
</div>
